#root {
  /* max-width: 1280px; */
  position:absolute;
  margin: 0px;
  background: none;
  height: auto;
  z-index: 5;
  padding: 2rem;
  text-align: center;
}

.main-ui-container {
  background-color: #0e0e0e;
  padding: 20px;
}

#centerp {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  /* unnecessary styling properties */
  max-width: 50%;
  text-align: center;
  border: 1px solid blue;
  z-index: 6;

}