#root {
  /* max-width: 1280px; */
  position:absolute;
  margin: 0px;
  background: none;
  height: auto;
  z-index: 5;
  padding: 2rem;
  text-align: center;
}

.main-ui-container {
  background: none;
  padding: 20px;
  /* algin content left */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* vertical spacing between all content */
  gap: 10px;
}

#centerp {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  /* unnecessary styling properties */
  max-width: 50%;
  text-align: center;
  border: 1px solid blue;
  z-index: 6;

}


.path-creator {
    /* red border  */
    border: 1px solid red;
}

.path-panel {
  display: flex;
}
.path-panel button {
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: center;
  padding: 12px;
  transition: all .3s ease-out;
  width: 45px;
  z-index: 200;
  margin: 2px;
  /* opacity: 0.8; */
}
.path-panel button:hover {
  /* opacity: 1; */
  border-color: none;
}
.path-panel button:focus {
  outline: none;
}

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

.pin-view-oval {
  animation: append-animate .3s linear;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: center;
  transition: all .3s ease-out;
  width: 30px;
  z-index: 200;
  background-color: #fff;
  border: 3px solid #403b3d;
  color: #403b3d;
  font-size: 16px;
  font-weight: 600;
}
.pin-view-square {
  animation: append-animate .3s linear;
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: center;
  transition: all .3s ease-out;
  width: 30px;
  z-index: 200;
  background-color: #fff;
  border: 3px solid #403b3d;
  color: #403b3d;
  font-size: 16px;
  font-weight: 600;
}
.score-card {
  align-items: center;
  background: #fff;
  color: #403b3d;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
}
.instruction-card {
  max-width: 32rem;
  text-align: left;
  align-items: center;
  background: #fff;
  color: #403b3d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
}